extends ../shared/template

block content

  #course(data-id='#{course._id}')
  h1= course.title

  #content
    each lesson in course.material
      p= lesson.title
      p!= lesson.content

  #taketest-wrapper
    if(teacher)
      a#taketest(href='/course/#{course._id}/test') Take Test
    if(student)
      a#taketest(href='/student/course/#{course._id}/test') Take Test


block scripts
  script(src='/js/es6/compiled/courses.js')
